{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
      <title>E-Sevai</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/vendors/css/vendors.min.css' %}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/bootstrap-extended.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/colors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/components.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/themes/dark-layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/themes/bordered-layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/themes/semi-dark-layout.css' %}">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/core/menu/menu-types/horizontal-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/plugins/forms/form-validation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/pages/page-auth.css' %}">
    <!-- END: Page CSS-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu blank-page navbar-floating footer-static  " data-open="hover" data-menu="horizontal-menu" data-col="blank-page">
    {% if messages %}
        {% for i in messages %}
            <script type="text/javascript">
                swal("{{i}}");
            </script>
        {% endfor %}
    {% endif %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="auth-wrapper auth-v2">
                    <div class="auth-inner row m-0">
                        <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
                            <h2 class="brand-text text-primary ml-1">Ravanan People E-Service Center</h2>
                        </a>
                        <!-- /Brand logo-->
                        <!-- Left Text-->
                        <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
                            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5"><img class="img-fluid" src="{% static 'sadmin/app-assets/images/pages/login-v2.svg' %}" alt="Register V2" /></div>
                        </div>
                        <!-- /Left Text-->
                        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
                            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                                <h2 class="card-title font-weight-bold mb-1">Welcome E-Service! 👋</h2>
                                <p class="card-text mb-2">Existing customer</p>
                                <!-- <form class="auth-login-form mt-2" method="POST">{% csrf_token %}
                                    <input type="hidden" name="formname" value="otp">
                                    <div class="form-group">
                                        <label class="form-label">Email or Mobile</label>
                                        <input required class="form-control" type="text" name="eom" required autofocus=""/>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block" tabindex="4">Login with otp</button>
                                </form>
                                <div class="divider my-2">
                                    <div class="divider-text">or</div>
                                </div> -->
                                <form class="auth-login-form mt-2" method="POST">{% csrf_token %}
                                    <div>
                                        <h3>Demo account</h3>
                                        <p>Email and password: pnjaisan@yahoo.com / Test12345</p>
                                    </div>
                                    <input type="hidden" name="formname" value="email">
                                    <div class="form-group">
                                        <label class="form-label">E-Mail</label>
                                        <input required class="form-control" type="text" name="email" required autofocus=""/>
                                    </div>
                                    <div class="form-group">
                                        <div class="d-flex justify-content-between">
                                            <label class="form-label">Password</label>
                                        </div>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input class="form-control" type="password" required name="pwd"/>
                                            <div class="input-group-append"><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span></div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <label class="form-label"></label><a href="{% url 'sadmin-forgotpass' %}"><small>Forgot your password?</small></a>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block" tabindex="4">Login with email</button>
                                </form>
                                <p class="text-center mt-2"><span>New to this portal?</span><a href="{% url 'sadmin-register' %}"><span>&nbsp;SignUp</span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Vendor JS-->
    <script src="{% static 'sadmin/app-assets/vendors/js/vendors.min.js' %}"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'sadmin/app-assets/vendors/js/ui/jquery.sticky.js' %}"></script>
    <script src="{% static 'sadmin/app-assets/vendors/js/forms/validation/jquery.validate.min.js' %}"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'sadmin/app-assets/js/core/app-menu.js' %}"></script>
    <script src="{% static 'sadmin/app-assets/js/core/app.js' %}"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="{% static 'sadmin/app-assets/js/scripts/pages/page-auth-register.js' %}"></script>
    <!-- END: Page JS-->

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>
</body>
<!-- END: Body-->

</html>