{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
      <title>E-Service</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/vendors/css/vendors.min.css' %}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/bootstrap-extended.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/colors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/components.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/themes/dark-layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/themes/bordered-layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/themes/semi-dark-layout.css' %}">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/core/menu/menu-types/horizontal-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/plugins/forms/form-validation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sadmin/app-assets/css/pages/page-auth.css' %}">
    <!-- END: Page CSS-->
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu blank-page navbar-floating footer-static  " data-open="hover" data-menu="horizontal-menu" data-col="blank-page">
    {% if messages %}
        {% for i in messages %}
            <script type="text/javascript">
                swal("{{i}}");
            </script>
        {% endfor %}
    {% endif %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="auth-wrapper auth-v2">
                    <div class="auth-inner row m-0">
                        <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
                            <h2 class="brand-text text-primary ml-1">People E-Service Center</h2>
                        </a>
                        <!-- /Brand logo-->
                        <!-- Left Text-->
                        <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
                            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5"><img class="img-fluid" src="{% static 'sadmin/app-assets/images/pages/register-v2.svg' %}" alt="Register V2" /></div>
                        </div>
                        <!-- /Left Text-->
                        <!-- Register-->
                        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
                            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                                <h2 class="card-title font-weight-bold mb-1">Open new account 🚀</h2>
                                <p class="card-text mb-2">Make it easy your service with us</p>
                                <form class="auth-register-form mt-2" method="POST">{% csrf_token %}
                                    <div class="form-group">
                                        <label class="form-label">First Name</label>
                                        <input class="form-control" type="text" name="firstname" required />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Last Name</label>
                                        <input class="form-control" type="text" name="lastname" required />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Mobile</label>
                                        <input class="form-control" type="text" maxlength="10" name="mobile" required />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">E-Mail</label>
                                        <input class="form-control" type="email" name="email" required />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="register-password">Password</label>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input onkeyup="CheckPasswordStrength(this.value)" class="form-control form-control-merge" id="register-password" type="password" name="pwd" required />
                                            <div class="input-group-append"><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span></div>
                                        </div>
                                        <span id="password_strength"></span>
                                        <p style="color: red">1. Length must be 8.</p>
                                         <p style="color: red">2.Minimum 1 leter [a-z].</p>
                                         <p style="color: red">3.Minimum 1 leter [A-Z].</p>
                                         <p style="color: red">4.[0-9] Must be 1 numberic number.</p>
                                         <p style="color: red">5.[_ @ # $ & *] 1 speacial character</p>
                                    </div>
                                    <button class="btn btn-primary btn-block" tabindex="5">Start your account</button>
                                </form>
                                <p class="text-center mt-2"><span>Do you have account?</span><a href="{% url 'sadmin-login' %}"><span>&nbsp;Login</span></a></p>
                            </div>
                        </div>
                        <!-- /Register-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Vendor JS-->
    <script src="{% static 'sadmin/app-assets/vendors/js/vendors.min.js' %}"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'sadmin/app-assets/vendors/js/ui/jquery.sticky.js' %}"></script>
    <script src="{% static 'sadmin/app-assets/vendors/js/forms/validation/jquery.validate.min.js' %}"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'sadmin/app-assets/js/core/app-menu.js' %}"></script>
    <script src="{% static 'sadmin/app-assets/js/core/app.js' %}"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="{% static 'sadmin/app-assets/js/scripts/pages/page-auth-register.js' %}"></script>
    <!-- END: Page JS-->

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>
    <script type="text/javascript">
    function CheckPasswordStrength(password) {
        var password_strength = document.getElementById("password_strength");
        var eleman = document.getElementById("sub");
 
        //TextBox left blank.
        if (password.length == 0) {
            password_strength.innerHTML = "";
            return;
        }
 
        //Regular Expressions.
        var regex = new Array();
        regex.push("[A-Z]"); //Uppercase Alphabet.
        regex.push("[a-z]"); //Lowercase Alphabet.
        regex.push("[0-9]"); //Digit.
        regex.push("[$@$!%*#?&]"); //Special Character.
 
        var passed = 0;
 
        //Validate for each Regular Expression.
        for (var i = 0; i < regex.length; i++) {
            if (new RegExp(regex[i]).test(password)) {
                passed++;
            }
        }
 
        //Validate for length of Password.
        if (passed > 2 && password.length > 8) {
            passed++;
        }
 
        //Display status.
        var color = "";
        var strength = "";
        switch (passed) {
            case 0:
            case 1:
                strength = "Weak";
                color = "red";
                break;
            case 2:
                strength = "Good";
                color = "darkorange";
                break;
            case 3:
            case 4:
                strength = "Strong";
                color = "green";
                break;
            case 5:
                strength = "Very Strong";
                color = "green";
                eleman.removeAttribute("disabled");
                break;
        }
        password_strength.innerHTML = strength;
        password_strength.style.color = color;
    }
</script>
</body>
<!-- END: Body-->

</html>